h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14;
    padding: 500;
    margin: 0;
    background-image: url(https://www.worldatlas.com/upload/00/7a/a1/shutterstock-1544405363.jpg);
    background-repeat: no-repeat;
    background-position: 120%;
    background-size: cover;
    height: 300px;
    width: 1920;
}

footer { /* Arttu made footer */
    padding: 500;
    margin: 0;
    background-image: url(https://gmcdn-sxcqif3sepi.netdna-ssl.com/city-guides/img/uploads/nhood/original/1470453567.57650.jpg);
    background-position: 120%;
    height: 150px;
    width: 1920;
    bottom: 0;
    ;
    
}

.sidebar {
    height: 100%;
    color: forestgreen;   
    float: right;
    width: 10%;
    min-height: 400px;
    line-height: 40px;
    padding: 15px;
    margin: 20px;
    text-align:left;
    font-weight: bold;
    font-size: 22px;
    background-color: black
       
}


.map {
    width: 80%;
    max-width: 1200px;
}

