h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14;
    padding: 500;
    margin: 0;
    background-image: url(https://www.linagro.tn/images/slider/slides/1920x400/southern-alps-1920x400.png);
    background-repeat: no-repeat;
    background-position: 120%;
    background-size: cover;
    height: 300px;
    width: 1920;
}

footer { /* Arttu made footer */
    padding: 500;
    margin: 0;
    background-color: #212529;
    background-position: 120%;
    height: 150px;
    width: 1920;
    bottom: 0;
    ;
    
}

.sidebar {
    height: 100%;
    color: forestgreen;   
    float: right;
    width: 10%;
    min-height: 400px;
    line-height: 40px;
    padding: 15px;
    margin: 20px;
    text-align:left;
    font-weight: bold;
    font-size: 22px;
    background-color: black
       
}

